
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Search</li>
  </ol>
</nav>


<form (submit)="searchTeams()">
  <div class="input-group mb-3">
    <label class="input-group-text" for="team_search">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
      </svg>
    </label>
    <select class="form-select" aria-label="Platform selection" id="platform_selection" [(ngModel)]="selectedPlatform" [ngModelOptions]="{standalone: true}" disabled>
<!--      <option [value]="null" selected>Platform</option>-->
      <option value="faceit" selected>Faceit</option>
      <option value="esea" disabled>ESEA</option>
      <option value="hltv" disabled>HLTV</option>
    </select>
    <input type="text" class="form-control" id="team_search" aria-label="Text input with dropdown button" placeholder="Team Name" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}">
    <button [class.btn-primary]="isSearchValid" [class.btn-outline-secondary]="!isSearchValid" class="btn" type="submit" [disabled]="!isSearchValid">Search</button>
  </div>
</form>

<div class="card mt-3 mb-3">
  <div class="card-header">Teams</div>
  <div class="card-body">
    <ng-container *ngIf="!loading; else isLoading">
      <ng-container *ngIf="teams.length !== 0; else noResults">
        <ul class="list-group list-group-flush">
          <ng-container *ngFor="let team of teams">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="me-2">
                <img *ngIf="team.avatar; else noAvatar" [src]="team.avatar" alt="avatar" class="avatar avatar-image">
                <ng-template #noAvatar>
                  <div class="bg-dark-subtle avatar avatar-no-image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                      <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                    </svg>
                  </div>
                </ng-template>
              </div>
              <div class="ms-2 me-auto">
                <div class="fw-bold">{{ team.name }}</div>
                Content for list item
              </div>
              <a [href]="team.faceit_url" target="_blank" class="btn btn-link btn-secondary ms-auto me-1 icon d-flex justify-content-center align-items-center p-2">
                <svg height="1520" viewBox="29.3 101.1 451.7 357.9" width="2500" xmlns="http://www.w3.org/2000/svg"><path d="m481 104.8c0-1.8-1.9-3.7-1.9-3.7-1.8 0-1.8 0-3.7 1.9-37.5 58.1-76.8 116.2-114.3 176.2h-326.2c-3.7 0-5.6 5.6-1.8 7.5 134.9 50.5 331.7 127.3 440.4 170.4 3.7 1.9 7.5-1.9 7.5-3.7z" fill="#fd5a00"/><path d="m481 104.8c0-1.8-1.9-3.7-1.9-3.7-1.8 0-1.8 0-3.7 1.9-37.5 58.1-76.8 116.2-114.3 176.2l119.9 1.23z" fill="#ff690a"/></svg>
              </a>
              <a [routerLink]="team.team_id" class="btn btn-link btn-secondary ms-1 me-2 icon d-flex justify-content-center align-items-center p-2 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg>
              </a>
              <!--        <span *ngIf="team.notifications.length !== 0" class="badge bg-primary rounded-pill">{{team.notifications.length}}</span>-->
            </li>
          </ng-container>
        </ul>
      </ng-container>
    </ng-container>

    <ng-template #isLoading>
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>
    <ng-template #noResults>
      <div class="text-center">No teams found</div>
    </ng-template>
  </div>
</div>

<div class="mt-3">
  <div class="input-group">
    <label class="input-group-text" for="limit_selection">Limit</label>
    <select class="form-select" aria-label="Team Limit selection" id="limit_selection" [(ngModel)]="limit" [ngModelOptions]="{standalone: true}">
      <option [value]="5" selected>5</option>
      <option [value]="10">10</option>
      <option [value]="25">25</option>
      <option [value]="50">50</option>
      <option [value]="100">100</option>
    </select>
  </div>
</div>
