:host {
  display: block;
  padding: 20px;
  min-width: 800px;
}

#platform_selection {
  flex: 0 1 fit-content;
}

.avatar {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
}

.avatar-image {

}

.avatar-no-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
