<div class="card">
  <div class="card-header">Players</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <a href="/" *ngFor="let player of players" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="me-2">
          <img *ngIf="player.avatar; else noAvatar" [src]="player.avatar" alt="avatar" class="avatar avatar-image">
          <ng-template #noAvatar>
            <div class="bg-dark-subtle avatar avatar-no-image">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
              </svg>
            </div>
          </ng-template>
        </div>

        <div class="ms-2 me-2">
          <div class="fw-bold">{{ player.nickname }}</div>
          Content for list item
        </div>

        <app-flag class="ms-2 me-auto" [country_code]="player.country"></app-flag>

<!--        <span *ngIf="team.notifications.length !== 0" class="badge bg-primary rounded-pill">{{team.notifications.length}}</span>-->
      </a>
    </ul>
  </div>
</div>
